/* Nhúng font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Định dạng tổng thể */
body {
  background: #973A37;
  padding: 25px 0;
  color: #D6BF5D;
}

h1 {
  text-align: center;
  color: #D6BF5D;
}

p {
  padding: 25px;
  margin: 15px auto;
  max-width: 600px;
  margin-bottom: 25px;
}

.end {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #66A56B;
  color: white;
  padding: 25px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.end a {
  text-decoration: none;
  background-color: white;
  color: #973A37;
  padding: 5px 10px;
  text-transform: uppercase;
}

/* Mobile controls */
.mobilecontrols {
  display: none;
}

@media (max-width: 750px) {
  .mobilecontrols {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;
  }

  #up, #down, #left, #right {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 50%;
    line-height: 1;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
  }

  #up {
    bottom: 75px;
    left: 25px;
  }

  #down {
    right: 25px;
    bottom: 75px;
  }

  #right {
    bottom: 25px;
    right: 50px;
  }

  #left {
    bottom: 25px;
    left: 50px;
  }
}

/* Thiết kế maze */
.maze-container {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
