 @import url('https://fonts.googleapis.com/css?family=Open+Sans');


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "Raleway", sans-serif;
  //font-family: "Montserrat", sans-serif;
 font-family: 'Open Sans', sans-serif;
}

//Media queries
@mixin mq($point) {
  $xs: "(max-width : 0px)";
  $sm: "(max-width : 550px)";
  $md: "(max-width : 550px)";
  $lg: "(min-width : 1350px)";
  $vl: "(max-width : #{$point}px)";

  @if $point==xs { @media #{$xs} { @content; } }
  @else if $point==sm {@media #{$sm} { @content; }}
  @else if $point==md { @media #{$md} {@content; }}
  @else if $point==lg { @media #{$lg} { @content;}}
  @else {@media #{$vl} {@content;}}
}

$maxwidth: 1400px;
$main-color: #973A37;
$bordercolor: darken(#B3AD6A, 15%);
$white: #D6BF5D;
$extracolor: #66A56B;

body {
  background: $main-color;
  padding: 25px 0;
  color: $white;
 h1 {
  text-align:center;
  color: #D6BF5D;
 }
 p {
  padding:25px;
  margin:15px auto;
  max-width:600px;
  margin-bottom:25px;
 }
 .end {
  position:fixed;
  left:50%;
  top:50%;
  background-color:$extracolor;
  color:white;
  padding:25px;
  transform:translate(-50%, -50%);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  a {
   text-decoration:none;
   background-color:white;
   color:$main-color;
   padding:5px 10px;
   text-transform:uppercase;
  }
 }
}

//**************************

$blue : #2c68a5;
$laranja: #b65f36;
$white: #ffffff;
$black: #000000;

.mobilecontrols {
 display:none;
 @include mq(md){
  display:block;
  width:100%;
  position:fixed;
  bottom:25px;
  left:0;
  right:0;
  #up,#down,#left,#right {
   position:absolute;
   background-color:rgba($black, 0.4);
   color:$white;
   border-radius:50%;
   //padding:15px;
   line-height:1;
   font-size:1.5rem;
   text-decoration:none;
   text-align:center;
   display:flex;
   width:50px;
   height:50px;
   padding:10px;
   justify-content:center;
   align-items:flex-start;
  }
  #up {
   bottom:75px;
   left:25px;
  }
  #down {
   right:25px;
   bottom:75px;
  }
  #right {
   bottom:25px;
   right:50px;
  }
  #left {
   bottom:25px;
   left: 50px;
  }
 }
}

.maze-container {
 position:relative;
 width:600px;
 margin:0 auto;
 @include mq(md){
  width: 280px;
  margin:0 auto;
 }
 //transform:scale(0.5);
}

#skyzinha {
  background-color: $blue;
  width:30px;
  height:20px;
 left:0px;
 top:0px;
  border-radius:60%;
  position:absolute;
 z-index:10;
 transition: all 0.3s ease-in-out;
 transform: translate(-50%, -50%);
 @include mq(md){
  left:7px;
  top:7px;
  width:15px;
  height:15px;
 }
 &:after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  width:100%;
  z-index:9;
  border-radius:60%;
    background-image:
    radial-gradient(
      circle at center right,
      lighten($blue,25%),
      $blue,
      darken($blue,15%),
      lighten($blue, 10%),
      darken($blue,0%)
    );
 }
  .tail {
    clip-path: polygon(4% 0, 100% 11%, 100% 84%, 0 97%);
    background: $blue;
    background: linear-gradient(to bottom, lighten($blue, 5%) 0%, lighten($blue, 0%) 8%, darken($blue, 10%) 22%, lighten($blue, 10%) 50%, darken($blue, 10%) 71%, lighten($blue, 0%) 89%, lighten($blue, 20%) 100%);
    position:absolute;
    left:-20%;
    top:50%;
    transform:translatey(-50%);
    width:30%;
    height:50%;
   z-index:10;
  }
  .beak {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 12.5px;
    border-color: transparent transparent transparent $laranja;
    position:absolute;
    right:-10px;
    top:50%;
    transform:translatey(-50%);
   z-index:10;
  }
  .eye {
    border:solid 1px lighten($black, 70%);
    position:absolute;
    background-color:$white;
    border-radius:100%;
    width:7.5px;
    height:5px;
    right:1px;
    top:2.5px;
    overflow:hidden;
   z-index:10;
    &:after{
      content:'';
      background-color:$black;
      position:absolute;
      top:25%;
      right:0%;
      width:60%;
      height:70%;
      border-radius:70%;
    }
    &.right {
      top:unset;
      bottom:5px;
    }
  }
  .pawn {
    position:absolute;
    width:10px;
    height:2px;
    background-color:darken($laranja, 20%);
    z-index:1;
    right:-5px;
    top:15%;
    transform:rotate(-25deg);
    animation-duration: 0.2s;
      animation-name: walk;
      animation-play-state:paused;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    animation-timing-function: ease-in-out;
    &:after{
      content:'';
      position:absolute;
      right:-2.5px;
      top:-70%;
      //transform:translatey(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 0 5px;
      border-color: transparent  transparent transparent darken($laranja, 20%);
      transform:rotate(25deg);
      z-index:1;
    }
    &.active {
      animation-play-state:running;
    }
  }
}

@keyframes walk {
  0%   {right:-10px;}
  50%  {right:10px;width:5px;}
  //55%  {right:25px;width:5px;}
  100% {right:-10px;width:25px;transform:rotate(25deg);top:unset;bottom:15%;}
}

#maze {
 background-color:$white;
 width:100%;
 margin-bottom:100px;
 .row {
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
 }
 .square {
  margin:-1px;
  border: solid 2px transparent;
  flex-grow:1;
  //width:20px;
  //height:20px;
  max-width:28px;
  max-height:28px;
  height:28px;
  @include mq(md){
   max-width:16px;
   max-height:16px;
  }
  &.goal {
   //background-color: darken($laranja, 1%);
   position:relative;
   &:after {
    content:'🌰';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:16px;
    @include mq(md){
     font-size:10px;
    }
   }
  }
  &.border-top {
  border-top:solid 2px $bordercolor;
}
&.border-bottom {
  border-bottom:solid 2px $bordercolor;
}
&.border-left {
  border-left:solid 2px $bordercolor;
}
&.border-right {
  border-right:solid 2px $bordercolor;
}
 }
}
 
.end {
 visibility:hidden;
}